.file-viewer-overlay {
    position: fixed; /* Sit on top of the page content */
    overflow: inherit;
    width: 100%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5); /* Black background with opacity */
    z-index: 20; /* Specify a stack order in case you're using a different order for other elements */
}

.file-viewer-overlay-container {
    position: relative;
    width: 100%;
    height: 100%;
    padding: 50px 10vw;
}

.file-viewer-overlay-close {
    position: absolute;
    top: 15px;
    right: 20px;
}

.file-viewer-overlay-previous {
    position: absolute;
    left: 20px;
    top: 50%;
    transform: translate(0, -50%);
}

.file-viewer-overlay-next {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translate(0, -50%);
}

.file-viewer-overlay-close, .file-viewer-overlay-previous, .file-viewer-overlay-next {
    color: white;
}

.file-viewer-overlay-close:hover, .file-viewer-overlay-previous:hover, .file-viewer-overlay-next:hover {
    color: lightgray;
}