.folder-viewer-list {
    list-style-type: none;
}

.folder-viewer-head-container {
    display: flex;
    flex-direction: row;
    align-items: start;
    width: 100%;
    background: white;
    padding: 10px;
    z-index: 15;
}

.folder-viewer-head-sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

.folder-viewer-head-update-icon {
    color: #17a2b8;
}

.folder-viewer-head-update-icon:hover {
    cursor: pointer;
    color: #106b79;
}

.folder-viewer-head-path {
    font-size: 1.5rem;
    font-weight: bold;
}

.folder-viewer-to-top-container {
    position: fixed; /* Fixed/sticky position */
    bottom: 20px; /* Place the button at the bottom of the page */
    right: 30px; /* Place the button 30px from the right */
    z-index: 9; /* Make sure it does not overlap */
}

.folder-viewer-item-container {

}

.folder-viewer-file-item-container {
    display: flex;
    align-items: center;
}

.folder-viewer-item-container-link {
    color: black;
    cursor: pointer;
}

.folder-viewer-item-container-link > a {
    color: black;
}

.folder-viewer-item-container-link > a:hover {
    color: #009c9f;
}

.folder-viewer-file-item-content {
    flex-grow: 1;
}

.folder-viewer-item-container:nth-of-type(even) {
    background-color: #F8F8F8;
}
