.fs-item-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    color: black;
}

    .fs-item-container:hover {
        color: gray;
    }

.fs-item-folder {
    color: #F8D775;
}

.fs-item-video {
    color: orange;
}

.fs-item-audio {
    color: darkgoldenrod;
}

.fs-item-text {
}

.fs-item-file {
    color: gray;
}

.fs-item-image {
    color: lightblue;
}

.fs-item-pdf {
    color: lightcoral;
}
