@using FileSystemWeb.Views.FolderViewer;
@model UploadFileButtonModel

<div class="folder-viewer-upload-container">
    <button type="button" disabled class="btn btn-outline-dark disabled">
        <icon-partial name="fa-upload" />
    </button>
</div>
